.yui3-image-editor canvas {
    display: block;
    position: absolute;
    top: 0;
}

.yui3-image-editor .toolbar {
    position: absolute;
    text-align: center;
    width: 100%;
}

.yui3-image-editor .toolbar button {
    margin-right: 5px;
}

.yui3-image-editor .toolbar.toolbar-status {
    top: 10px;
}

.yui3-image-editor .toolbar.toolbar-actions {
    bottom: 10px;
}

.yui3-image-editor .trigger {
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.yui3-image-editor .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.yui3-image-editor .processors .toolbar-processors {
    position: relative;
}

.yui3-image-editor .processors {
    bottom: 10px;
    position: absolute;
    width: 100%;
}

.yui3-image-editor .processors .ui {
    margin: 10px 0;
}

.yui3-image-editor .processors .widgets {
    text-align: center;
}

.yui3-image-editor .image-processor-swf {
    position: absolute;
}