.yui3-image-editor {
    display: inline-block;
    position: relative;
}

.yui3-image-editor canvas {
    display: block;
    position: absolute;
    top: 0;
}

.yui3-image-editor .image-editor-processors, .yui3-image-editor .image-editor-toolbar {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.yui3-image-editor .image-editor-processors .image-processor-status {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    margin: 0;
}

.yui3-image-editor .image-processor-info, .yui3-image-editor .image-processor-widgets {
    text-align: center;
}

.yui3-image-editor .image-processor-swf {
    position: absolute;
}

.yui3-image-editor .image-editor-trigger-default, .yui3-image-editor .toolbar {
    bottom: 10px;
    left: 10px;
    position: absolute;
}